* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #e0f2f1;
}

.card {
  height: 500px;
  width: 300px;
  background-color: #fff;
  border: 2px solid #baccd8;
  border-radius: 15px;
  margin: auto;
  margin-top: 5%;
}

img {
  width: 100%;
  padding: 5px;
  border-radius: 15px;
}

.tags {
  padding: 15px;
}

.tags > span {
  color: #788697;
  padding: 1px 8px;
  margin: 0px 5px;
  border: 1px solid #baccd8;
  border-radius: 10px;
}

.content > h1 {
  color: #0e2632;
  padding: 0px 10px;
}

.content > p {
    font-size: 15px;
  color: #788697;
  padding: 15px 10px;
  text-align: left;
}

.cta {
  padding-top: 15px;
  text-align: center;
}

.cta button {
  background-color: #e0efff;
  color: #0077ff;
  padding: 10px 15px;
  border: 0px;
  border-radius: 15px;
  cursor: pointer;
}

.cta button:hover {
  color: #fff;
  background-color: #0077ff;
}
